a {
  color: var(--link-color);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }

  .footer &,
  .header & {
    text-decoration: none;
  }

  &[href^="tel:"] {
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}
.small {
  font-size: var(--small-font);
}
p {
  margin-bottom: var(--gap);
  font-weight: 300;
}

h1 {
  font-size: clamp(1.8rem, 3.5vw, 4rem);
  line-height: 1.1;
  letter-spacing: -0.04rem;
  margin: 0 0 0.625rem 0;
  text-wrap: balance;
  max-width: 50ch;
  font-weight: 300;
}
h2 {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

strong,
b {
  font-weight: 600;
}

ul,
ol {
  padding: 0;
  margin: 2rem;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
.front-header {
  text-align: center;
  padding-block: 2rem;
  h2 {
    font-family: cursive;
  }
}
