a {
  color: var(--link-color);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }

  .footer &,
  .header & {
    text-decoration: none;
  }

  &[href^="tel:"] {
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}
.small {
  font-size: var(--small-font);
}
p {
  margin-bottom: var(--gap);
  font-weight: 300;
  max-width: 70ch;
}

h1 {
  font-size: clamp(1.8rem, 3vw, 2.5rem);
  line-height: 1.1;
  letter-spacing: -0.04rem;
  margin: 0 0 0.625rem 0;
  text-wrap: balance;
  max-width: 50ch;
  font-weight: 300;
}
h2 {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}
.pre-title {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: var(--gap) 0 0.5rem 0;
}

strong,
b {
  font-weight: 600;
}
em,
i {
  font-style: italic;
}
ul,
ol {
  padding: 0;
  margin: 0 0 var(--gap) var(--gap);
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
.front-header {
  text-align: center;
  padding-top: 2rem;
  h2 {
    font-family: cursive;
  }
}
