.footer {
  margin-top: var(--gap);
  padding-bottom: var(--gap);

  .content {
    padding-top: 1rem;
    border-top: var(--border);
  }
  svg {
    fill: #fff;
    transition: 0.5s;
  }
  a:hover {
    svg {
      fill: var(--logo-roed);
    }
  }
}
@media (min-width: 300px) {
  .footer {
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    }
  }
}
