.gallery-list {
  border-top: var(--border);
  padding-top: var(--gap);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(225px, 5fr));
  img {
    width: 100%;
  }
}
.gallery-list__link {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: var(--shadow-medie);
  transition: 0.5s transform;
  &:hover {
    transform: scale(1.05);
  }
}
