body {
  background: var(--body-bg);
  background-attachment: fixed;
  color: var(--farve4);
  font-family: var(--font-family);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}
.l-wrap {
  margin: 0 auto;
  max-width: var(--page-width);
  padding-inline: var(--gap);
}
.content {
  margin-block: clamp(1rem, 4vw, 2rem);
}
.site {
  display: grid;
  grid-template-columns: 90% 100%;
  overflow: hidden;
  margin: 0 auto;
  max-width: var(--page-width);
  min-height: 100vh;
}
.main-content {
  min-height: 100vh;
  padding: var(--gap);
  background: var(--body-bg);
  transform: translateX(-90%);
  transition: 0.5s all;
}
.aside {
  aside {
    border-top: var(--border);
    padding-top: 1rem;
  }
}

@media (min-width: 800px) {
  .aside {
    grid-template-columns: 4fr 3fr;
    gap: var(--gap) !important;
    aside {
      border-left: var(--border);
      border-top: none;
      padding-top: 0;
      padding-left: var(--gap);
    }
  }
  .front-grid {
    grid-template-columns: 2fr 3fr;
    gap: var(--gap) !important;
  }
}
