:root {
  --page-width: 1340px;
  --body-bg: linear-gradient(#006445, #2c2e2e);
  --body-font-size: 1rem;
  --body-line-height: 1.6;
  --font-family: system-ui, sans-serif;
  --border-color: rgba(255, 255, 255, 0.7);
  --gap: 1rem;
  --link-color: #fff;
  --logo-roed: #da1527;
  --small-font: 0.75rem;
  --farve1: #006445;
  --farve2: #2c2e2e;
  --farve3: #9507b4;
  --farve4: #fff;
  --border: 2px solid #fff;
  --shadow-medie: 0 0 2px rgba(0, 0, 0.1);
  @media (min-width: 60rem) {
    --gap: 2rem;
  }
}
