:root {
  --page-width: 1340px;
  --body-bg: linear-gradient(#007853, #004530);
  --body-font-size: 1rem;
  --body-line-height: 1.5;
  --font-family: system-ui, sans-serif;
  --border-color: rgba(255, 255, 255, 0.7);
  --gap: 1rem;
  --link-color: #fff;
  --logo-roed: #da1527;
  --small-font: 0.75rem;
  --farve1: #006445;
  --farve2: #2c2e2e;
  --farve3: #e3a01f;
  --farve4: #fff;
  --border: 1px solid rgba(255, 255, 255, 0.7);
  --shadow-medie: 0 0 4px rgba(0, 0, 0, 0.5);
  @media (min-width: 60rem) {
    --gap: 2rem;
  }
}
